<div class="modal fade" id="addtask" tabindex="-1" role="dialog" aria-labelledby="addtask" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-dark" id="addtask">Creating new task</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true"></span>
				</button>
			</div>
			
			
			<div class="modal-body text-dark">
				<form  method="POST" >
					{% csrf_token %}
					
					<!-- Topic -->
					<label>Topic</label>
					<input type="text" class="form-control mb-2" required  name="topic" placeholder="">
					<!-- Description 	-->
					<label >Description</label>
					<textarea class="form-control mb-2" required rows="5"
					name="description" required > </textarea>
					<!-- Start date -->
					<label >Start date</label>
					<input type="date" required class="form-control mb-2" name="start_date"
					value="2000-01-21" placeholder="Topic">
					<!-- End date -->
					<label >End date</label>
					<input type="date" class="form-control mb-2" required name="end_date" value="2000-01-22" placeholder="Topic">
					
					<!-- Estimated time -->
					<label>Estimated time</label>
					<input type="number" step="0.5" class="form-control mb-2" required name="estimated_time" >
					<!-- Task type -->
					
					<label >Task type</label>
					<select name="task_type" required class="form-control mb-2"  >
						{% for i in addform.task_type %}
							{{i}}
						{% endfor %}
					</select>
					<!-- Priority -->
					<label >Priority</label>
					<select name="priority" required class="form-control mb-2"  >
						{% for i in addform.priority %}
							{{i}}
						{% endfor %}
					</select>
					
					
					<!-- Implemeners -->
					
					<label >Implementers</label>
						<select name="implementers" required class="form-control mb-2"  multiple>
							{% for i in addform.implementers %}
								{{i}}
							{% endfor %}
						</select>
						<!-- Project -->
						<label >Project</label>
						<select name="project" required class="form-control mb-2" >
							{% for i in  addform.project %}
								{{i}}
							{% endfor %}
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" name="addform" class="btn btn-success">Add task</button>
					</div>
				</form>
				
				
			</div>
		</div>
	</div>
	<!-- 					<div class="p-5">
			
		{{taskeditform.as_p}}
		
	</div> -->